.list_section {
    padding:20px;
}
.products_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    column-gap: 20px;
    row-gap: 20px;
}
.product_item {
    list-style: none;
}
@media screen and (max-width:768px) {
    .products_list{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:460px) {
    .products_list{
        grid-template-columns: 1fr;
    }
}