header {
    background-color: teal;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-mobile {
    font-size: 80px
}
.link {
    color: black;
}