.product_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    -webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
    border-radius: 9px;
    padding: 10px;
}

.model-brand_container {
    display: flex;
    flex-direction: column;
}
a { 
color: black;
text-decoration: none;
}
a:visited {
color: black;
}